<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                @if( itemForm.value.id == 0) {
                <span>New item</span>
                } @else {
                <span>Update item</span> item
                }
            </div>
            <div class="card-body">
                <form [formGroup]="itemForm">
                    <div class="form-group">
                        <label for="nameId">Name</label>
                        <input id="nameId" class="form-control" type="text" formControlName="name">
                        <div class="text-danger">
                            @if(itemForm.controls['name'].errors?.['required']) {
                            Name is required
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descriptionId">Description</label>
                        <input id="descriptionId" class="form-control" type="text" formControlName="description">
                        <div class="text-danger">
                            @if(itemForm.controls['description'].errors?.['required']) {
                            Description is required
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="priceId">Price</label>
                        <input id="priceId" class="form-control" type="number" formControlName="price">
                        <div class="text-danger">
                            @if(itemForm.controls['price'].errors?.['required']) {
                            Price is required
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="typeIdId">Price</label>
                        <ng-select id="typeIdId" [items]="itemTypes" bindLabel="name" bindValue="id"
                            formControlName="typeId"> </ng-select>
                    </div>
                    @if( itemForm.value.id == 0) {
                    <button class="btn btn-primary" [disabled]="itemForm.invalid" (click)="add()">Save</button>
                    } @else {
                    <button class="btn btn-primary" [disabled]="itemForm.invalid"
                        (click)="update(itemForm.value.id)">Update</button>
                    }
                    <button class="btn btn-secondary" (click)="reset()">Reset</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                My Items
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Created Date</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        @for (item of itemList; track $index) {
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.type.name}}</td>    
                            <td>{{item.createdAt | date:"shortDate"}}</td>
                            <td>{{item.active ? "yes" : "no"}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="edit(item)">Edit</button>
                                @if(item.active) {
                                <button class="btn btn-warning" (click)="deactivate(item.id)">Deactivate</button>
                                } @else {
                                <button class="btn btn-success" (click)="activate(item.id)">Activate</button>
                                }
                                <button class="btn btn-danger" (click)="delete(item.id)">Delete</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>