<p>Administration</p>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                @if( userForm.value.id == 0) {
                <span>New user</span>
                } @else {
                <span>Edit user</span>
                }
            </div>
            <div class="card-body">
                <form [formGroup]="userForm">
                    <div class="form-group">
                        <label for="usernameId">Username</label>
                        <input id="usernameId" class="form-control" type="text" formControlName="username">
                        <div class="text-danger">
                            @if(userForm.controls['username'].errors?.['required']) {
                            Username is required
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordId">Password</label>
                        <input id="passwordId" class="form-control" type="text" formControlName="password">
                        <div class="text-danger">
                            @if(userForm.controls['password'].errors?.['required']) {
                            Password is required
                            }
                            @if(userForm.controls['password'].errors?.['minlength']) {
                            Password must have at least 6 characters
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nameId">Name</label>
                        <input id="nameId" class="form-control" type="text" formControlName="name">
                        <div class="text-danger">
                            @if(userForm.controls['name'].errors?.['required']) {
                            Name is required
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailId">Email</label>
                        <input id="emailId" class="form-control" type="text" formControlName="email">
                        <div class="text-danger">
                            @if(userForm.controls['email'].errors?.['required']) {
                            Email is required
                            }
                            <div class="text-danger">
                                @if(userForm.controls['email'].errors?.['email']) {
                                Email is not correct format
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneId">Phone</label>
                        <input id="phoneId" class="form-control" type="text" formControlName="phone">
                        <div class="text-danger">
                            @if(userForm.controls['phone'].errors?.['required']) {
                            Phone is required
                            }
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="resetUser()">Reset</button>
                    @if( userForm.value.id == 0) {
                    <button class="btn btn-primary" [disabled]="userForm.invalid" (click)="saveNewUser()">Save</button>
                    } @else {
                    <button class="btn btn-primary" [disabled]="userForm.invalid" (click)="updateUser()">Update</button>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Users
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Balance</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        @for (user of userList; track $index) {
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.password}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.balance | monetary}}</td>
                            <td>{{user.active ? "yes" : "no"}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="editUser(user)">Edit</button>
                                <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>